.logout-container{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: calc(100vh - 66px);
    background:var(--gray-color);
}
.logout-container p{
    text-align: center;
}