.banner-container {
    width: 100%;
    z-index: -1;
    height: calc(100vh - 80px);
    /* max-width:1148px; */
    max-width:1350px;
    margin: auto;
    background: url("../../../Img/29118.jpg") fixed center/cover no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-info{
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem;
}
.banner h2 {
    text-transform: capitalize;
    padding: 2rem;
    margin: 1rem;
    width:auto;
    color: white;
    border-radius: 4px;
    text-align: center;
}