<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <title>Lapshop - All Your Favourite Electronics At One Place </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div id="root" class="content">
        <img src="{% static 'frontend/images/1496.gif' %}" alt="loader" />
    </div>

    <script type="text/javascript" src="{% static 'frontend/public/main.js' %}"></script>
</body> 
</html>