.cart-container{
    background-color: var(--gray-color);
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.cart{
    width: 100%;
    max-width: 1144px;
}
.cart h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.cart>div{
    display: flex;
    width: 100%;
    max-width: 1144px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products{
    flex: .73;
}
.empty-cart{
    flex-direction: column;
    align-items: center;
    
}
@media screen and (max-width:700px){
    .cart>div{
    flex-direction: column;
}

}
@media screen and (max-width:500px){
    .cart{
        max-width: 100vw;
    }
    .cart>div{
    max-width: 100vw;
}

}