.thankyou-container{
    
    min-height:calc(100vh - 70px);
    display:flex;
    align-items:center;
    justify-content:center;
    background: url("https://images.pexels.com/photos/4439466/pexels-photo-4439466.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") center/cover no-repeat fixed;
}
.thankyou{
    max-width: 700px;
    background: #000;
    opacity: .75;
    color: #fff;
    border-radius:5px;
}
.thankyou h2{
    text-align: center;
}
