.content{
    display: block !important;
    align-items:stretch !important;
    justify-content: stretch !important;
    width:auto !important;
    height: auto !important;
    background-color: var(--gray-color);
}